{% extends "base.html" %}
{% block content %}
<h3 class="breadcrumb">Restaurant: {{restaurant.name}}</h3>
<h2 class="form-title">New menu item</h2>
<form action="{{url_for('.newMenuItem', restaurant_id=restaurant.id )}}" method="POST">
  <p>Name:</p>
  <input type="text" name="name" />
  <p>Description:</p>
  <textarea name="description" cols="30" rows="10"></textarea>
  <p>Price:</p>
  <input type="text" name="price" />
  <p>Course:</p>
  <input type="text" name="course" /><br/>
  <input type="submit" value="Create" class="btn" />
</form>
{% endblock %}
