<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <header>
    <div class="header-container">
      <a href="/"><img src="{{url_for('static', filename='img/logo.svg')}}" alt="yumm.py logo"></a>
      {% if user_logged %}
        <span class="hright user-logged">{{user_logged}}</span>
      {% else %}
        <a href="/login" class="hright header-login">Login</a>
      {% endif %}
    </div>
  </header>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
</body>
