<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css') }}">
  <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="//apis.google.com/js/platform.js?onload=start" async></script>
  <script src="{{url_for('static', filename='js/app.js')}}"></script>
</head>
<body>
  <header>
    <div class="header-container">
      <a href="/"><img src="{{url_for('static', filename='img/logo.svg')}}" alt="yumm.py logo"></a>
      {% if session.email %}
        <div class="loggedin">
          <span class="user-logged">{{session.username}}</span>
          <a class="logout" href="/disconnect">Logout</a>
        </div>
      {% else %}
        <a href="/login" class="hright header-login">Login</a>
      {% endif %}
    </div>
  </header>
  <div class="line-gradient"></div>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
</body>
