<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <header>
    <div class="header-container">
      <a href="/"><img src="{{url_for('static', filename='img/logo.svg')}}" alt="yumm.py logo"></a>
      {% if session.email %}
        <div class="loggedin">
          <span class="hright user-logged">{{session.username}}</span>
          <a class="logout" href="/disconnect">Logout</a>
        </div>
      {% else %}
        <a href="/login" class="hright header-login">Login</a>
      {% endif %}
    </div>
  </header>
  <div class="line-gradient"></div>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
</body>
