{% extends "base.html" %}

{% block content %}

  <!-- array of messages -->
  {% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
      <p class="feedback">{{message}}</p>
    {% endfor %}
{% endif %}
  {% endwith %}

<h1 class="title">{{category.name}}</h1>


<!-- IF USER LOGGED, CREATE BUTTON AVAILABLE -->
{% if session.user_id %}
<div class="title-create">
  <a href='{{url_for('.newItem', category_id=category.id)}}' class="create-item">Create new item</a>
</div>
{% endif %}

<div class="menu-item">
{% for i in items %}
  <div class="item">
    <h2 class="name">{{i.name}}</h2>
    <p class="description">{{i.description}}</p>
    <div class="price"> <span>{{i.price}}</span></div>
    <!-- IF LOGGED USER IS THE SAME AS ITEM USER CREATOR -->
    {% if session.user_id == i.user_id %}
    <a href ='{{url_for('.editItem', category_id = category.id, item_id = i.id) }}' class="edit btn">Edit</a>
    <a href = '{{url_for('.deleteItem', category_id = category.id, item_id = i.id ) }}' class="delete btn">Delete</a>
    {% endif %}
  </div>
{% endfor %}
</div>
{% endblock %}
