{% extends "base.html" %}

{% block content %}
  <!-- FEEDBACK MESSAGES  -->
  <!-- array of messages -->
  {% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
      <p class="feedback">{{message}}</p>
    {% endfor %}
{% endif %}
  {% endwith %}

<!-- IF LOGGED IN -->
{% if session.email %}
<div class="create">
  <h3>Include your own restaurant!</h3>
  <a href='{{url_for('.newRestaurant')}}' class="create-item">Create new Restaurant</a>
</div>
<!-- IF NOT LOGGED IN -->
{% else %}

<h1 class="call">Discover the hottest restaurants in town!</h1>
<div class="call-button"><a href="/login">Signup now!</a></div>

{% endif %}
<div class="menu-item">
  {% for r in restaurants %}
  <div href="{{url_for('menu_items.showMenu', restaurant_id = r.id)}}" class="restaurant">
    <a href="{{url_for('menu_items.showMenu', restaurant_id = r.id)}}" class="name-anchor"><h2 class="name">{{r.name}}</h2></a>
    {% if session.user_id == r.user_id %}
    <div class="buttons">
      <a href = '{{url_for('.editRestaurant', restaurant_id = r.id) }}' class="edit btn">Edit</a>
      <a href = '{{url_for('.deleteRestaurant', restaurant_id = r.id) }}' class="delete btn">Delete</a>
    </div>
    {% endif %}
  </div>
{% endfor %}
</div>





{% endblock %}
